<!DOCTYPE HTML>
<html>

<script>
    function GetSelectedText(group_bot){
        var e = document.getElementById(group_bot);
        var result = e.options[e.selectedIndex].text;
        return confirm('Do you want to run BOT : ' + result + '  ?');
    }
</script>

<head>

<!Script for Custom Confirm Box>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script>
  $( function() {
    $( "#dialog-confirm" ).dialog({
      resizable: false,
      width: 350,
      buttons: {
        "Continue": function() {
          $( this ).dialog( "close" );
        },
        "Download Logfile": function() {
          $( this ).dialog( "close" );

          window.open('/download/'+ '{{ script_name }}','_blank');

        }
      }
    });
  } );
</script>

<!Script for Waiting Sign>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

<script>
$(function($) {
"use strict";
    // global hook - unblock UI when ajax request completes
    $(document).ajaxStop($.unblockUI);
    $('#no').bind('click', $.unblockUI);
});

 $(document).ready(function() {
    $('.my-form').submit(function() {
        $.blockUI({ css: {
            border: 'none',
            padding: '15px',
            backgroundColor: '#000',
            '-webkit-border-radius': '10px',
            '-moz-border-radius': '10px',
            opacity: .5,
            color: '#fff'
        } });
        setTimeout($.unblockUI, 600000);
    }); 
    $( "#datepicker1" ).datepicker({
      dateFormat: 'yy-mm-dd'
    });
    $( "#datepicker2" ).datepicker({
      dateFormat: 'yy-mm-dd'
    });
});
</script>

  <title>INSEE Logistics Excellent BOT Portal Website</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
   
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

           
<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/">INSEE_LogEX<span class="logo_colour">BOT Portal</span></a></h1>
          <h2>Simpler. Faster. Better. Logistics Excellent BOT Portal Website.</h2>
        </div>
      </div>

      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="/">Home</a></li>
          <li><a href="/bot/">Run BOT</a></li>
          <li><a href="/sql/">SQL Page</a></li>
          <li class="selected"><a href="/botlog/">BOT & Log</a></li>
          <li><a href="/another/">BOT & Parameter</a></li>
          <li><a href="/contact/">Contact Us</a></li>
        </ul>
      </div>
    </div>
    


    <!-- ############## Check User Authenticated ############# -->
    {% if user.is_authenticated %}
    
    <!-- ############## Header Content ############# -->
    <div id="content_header"></div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Latest News</h3>
        <h4>New BOT Portal Website Launched</h4>
        <h5>August 02, 2021</h5>
        <p>2021 sees the design and function of our bot portal website. Take a look around and let us know what you think.<br />
        <p></p>
        
        <h4>Browser Compatibility for Running BOT</h4>
        <p>This template has been tested in the following browsers:</p>
          <li>Google Chrome 6</li>
          <li>Microsoft Edge</li>
          <li>Internet Explorer 7</li>
          <li>FireFox 3.5</li>
          <li>Safari 4</li>
        
        <h3>Search</h3>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="{% static 'search.png' %}" alt="Search" title="Search" />
          </p>
        </form>
      </div>    

      <!-- ############## Check User Group ############# -->  
      {% for group in user.groups.all %}
        {% if group.name == 'admin' %}
        
<!-- ############################### Admin Group Page ################################################### -->    
       
      <div id="content">
        <!-- insert the page content here -->
        <h4>Role : SCCC OTM Admin (Admin)</h4>
       <h1>Freight</h1>
       <form action="" method="post" class="my-form">
          <div class="form_settings">
            <p><span>Freight</span>
            <br><select id="Freight" name="name">

            <option value="F01_FreightCal-log-DW_Shipment_Report_freight">F01_FreightCal</option>
            <option value="F01_FreightCal_BH_DFM_WO_NetWeightQty-log-search_shipment_report_freight">F01_FreightCal_BH_DFM_WO_NetWeightQty</option>
            
            <option value="F02_Master_basefreight-log-DW_Master_BaseFreight_users">F02_Master_basefreight</option>
            <option value="F03_Master_CurrentFuelPrice-log-DW_Master_CurrentFuel_Price_users">F03_Master_CurrentFuelPrice</option>
            <option value="F04_Master_basefuelprice_surcharge-log-DW_Master_BaseFuelPrice_SurCharge_users">F04_Master_basefuelprice_surcharge</option>
            <option value="F05_Master_labor-log-DW_Master_Labor_users">F05_Master_labor</option>
            <option value="F06_Master_portfee_islandcharge_redzonesouth-log-DW_Master_PortFee_IslandCharge_RedZoneSouth_users">F06_Master_portfee_islandcharge_redzonesouth</option>
            <option value="I04_Import_Billing_date-log-billing">I04_Import_Billing_date</option>
            <option value="I04_Import_SuggestFreight-log-suggestfreight">I04_Import_SuggestFreight</option>
            <option value="I04_Import_Swap-log-swap">I04_Import_Swap</option>
                    
            </select></p>
            {% csrf_token %}
            <style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="FREIGHT" value="button" onclick="return GetSelectedText('Freight')" /></p>
          </div>
         </form>
        
       <h1>Import Datawarehouse</h1>
       <form action="" method="post" class="my-form">
          <div class="form_settings">
            <p><span>Import to Datawarehouse</span>
            <br><select id="DataWarehouse" name="name">

            <option value="I03_Import_DO_cost_users-log-Shipment_cost_by_do">I03_Import_DO_cost_users</option>
            <option value="I06_Import_OTM_ILM_update_users-log-OTM_ILM_update_users">I06_Import_OTM_ILM_update_users</option>
            <option value="I07_Import_OTM_Shipment_Data_users-log-OTM_Shipment_Data">I07_Import_OTM_Shipment_Data_users</option>            
            <option value="I08_Import_OTM_Update_DeliveryNote-log-OTM_Update_Deliverynote">I08_Import_OTM_Update_DeliveryNote</option>           
            <option value="I08_Import_OTM_Update_DO_Data-log-OTM_Update_DO_Data">I08_Import_OTM_Update_DO_Data</option>           
            <option value="I09_Import_OTM_Master_Location-log-OTM_Master_Location">I09_Import_OTM_Master_Location</option>
            <option value="I12_Import_DAS_Preload_GO-log-Das_Preload,Das_GO">I12_Import_DAS_Preload_GO</option>
            <option value="I14_Import_DailyRun_Template_File-log-DailyRun_Template">I14_Import_DailyRun_Template_File</option>
            <option value="I21_Import_Blob_to_SharePoint-log-DO_list">I21_Import_Blob_to_SharePoint</option>
                    
            </select></p>
            {% csrf_token %}
            <style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="DATAWAREHOUSE" value="button" onclick="return GetSelectedText('DataWarehouse')" /></p>
          </div>
         </form>
        
        <h1>Check Data OTM and DW</h1>
        <form action="" method="post" class="my-form">
          <div class="form_settings">
            <p><span>Check Data OTM and DW</span>
            <br><select id="Check_Data" name="name">          
            <option value="T01_DW_Check_Deleted_Shipment-log-DW_Check_Deleted_Shipment">T01_DW_Check_Deleted_Shipment</option> 
            <option value="T01_DW_check_Duplicated_Shipment-log-DW_Duplicated_Shipment">T01_DW_check_Duplicated_Shipment</option> 
            <option value="T01_DW_check_sellshipment_missing-log-DW_check_sellshipment_missing">T01_DW_check_sellshipment_missing</option> 
            <option value="T01_DW_check_weight_diff-log-DW_check_weight_diff">T01_DW_check_weight_diff</option> 
            <option value="T02_OTM_Check_Blank_DO-log-OTM_Check_Blank_DO">T02_OTM_Check_Blank_DO</option> 
            <option value="T02_OTM_Check_Missing_WOdate-log-OTM_Check_Missing_WOdate">T02_OTM_Check_Missing_WOdate</option> 
            <option value="T02_OTM_Check_SellShipment_Missing-log-OTM_Check_SellShipment_Missing">T02_OTM_Check_SellShipment_Missing</option> 
            <option value="T02_OTM_Check_SumCostDObySH-log-OTM_Check_SumCostDObySH">T02_OTM_Check_SumCostDObySH</option> 
            </select></p>   
            {% csrf_token %}
            <style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="Btn_Check_Data" value="button" onclick="return GetSelectedText('Check_Data')" /></p>
          </div>
        </form>
        
        <h1>Reports</h1>
        <form action="" method="post" class="my-form">
          <div class="form_settings">
            <p><span>Other BOT</span>
            <br><select id="Other_Bot" name="name">
            <option value="T02_OTM_Extract_ECO_to_Update_GPS-log-OTM_Extract_ECO_to_Update_GPS_report">T02_OTM_Extract_ECO_to_Update_GPS</option>
            
            <option value="T06_OTM_Master_Location-log-OTM_Master_Location">T06_OTM_Master_Location</option>
            <option value="T03_DW_Query-log-DW_Query">T03_DW_Query</option>
            <option value="T03_OTM_Query-log-OTM_Query">T03_OTM_Query</option>
            <option value="R04_Ontime_Report-log-search_shipment_report_ontime">R04_Ontime_Report</option>
            <option value="R05_DL_tracking-log-search_shipment_report">R05_DL_tracking</option>
            <option value="R10_KFA_M_SensorMaster-log-kfa_check_masters">R10_KFA_M_SensorMaster</option>
            <option value="R09_Pickup_App_Move_Picture-log-Pickup_App_Move_Picture">R09_Pickup_App_Move_Picture</option>
            
            </select></p>
            
            {% csrf_token %}
            <style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="OTHER_BOT" value="button" onclick="return GetSelectedText('Other_Bot')" /></p>
          </div>
        </form>
        


      </div>
    </div>
    
<!-- ############################### End of Admin Group Page ############################################ -->

{% elif group.name == 'lcc'  %} 
         
<!-- ############################### LCC Group Page ##################################################### -->

     <h4>Role : Logistics Control Center (LCC)</h4>
                
<!-- ############################### End of LCC Group Page ############################################ -->
        
        {% endif %}
      {% endfor %}
      
          <!-- ############## Check Flag Result ############# -->
           {% if some_flag %}
                <div id="dialog-confirm" title="Complete Run BOT with Parameter ?">
                  <p><span style="float:left; margin:12px 12px 15px 0;"></span>Run BOT with Paramete has been finished <br> Do you want to continue without Log File ?</p>
                </div>
            {% endif %}
      </div>
    </div>  

    {% else %}
    
    <!-- ############## Footer Content ############# -->
    <div id="footer">
      You are not Logged in for Access BOT Portal : Please Login >>><a href="/login/">Login</a> 
    </div> 
    {% endif %}

    <div id="content_footer"></div>
    <div id="footer">
      Copyright &copy; Siam City Cement. All Rights Reserved 2021 | <a href="https://www.siamcitycement.com/th/our_services/logistics/">INSEE Logistics</a> 
    </div>
  </div>
</body>
</html>
