<!DOCTYPE HTML>
<html>

<script>
    function GetSelectedText(group_bot){
        var e = document.getElementById(group_bot);
        var result = e.options[e.selectedIndex].text;
        return confirm('Do you want to run BOT with Parameter : ' + result + '  ?');
    }
        
</script>

<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="http://malsup.github.io/jquery.blockUI.js"></script>
<script>
$(function($) {
"use strict";
    // global hook - unblock UI when ajax request completes
    $(document).ajaxStop($.unblockUI);
    $('#no').bind('click', $.unblockUI);
});

 $(document).ready(function() {
    $('#bot_param').click(function() {
        $.blockUI({ css: {
            border: 'none',
            padding: '15px',
            backgroundColor: '#000',
            '-webkit-border-radius': '10px',
            '-moz-border-radius': '10px',
            opacity: .5,
            color: '#fff'
        } });

        setTimeout($.unblockUI, 2000);
    });
});
</script>


<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" type="text/css" media="screen" href="../jq.css">
<link rel="stylesheet" type="text/css" media="screen" href="block.css?v3">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<!-- <script src="jquery.blockUI.js"></script> -->
<script src="http://malsup.github.io/jquery.blockUI.js"></script>
<script src="http://malsup.github.com/chili-1.7.pack.js"></script>

  <title>INSEE Logistics Excellent BOT Portal Website</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Datepicker - Display button bar</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  <script>
      $( function() {
        $( "#datepicker1" ).datepicker({
          dateFormat: 'yy-mm-dd'
        });
        $( "#datepicker2" ).datepicker({
          dateFormat: 'yy-mm-dd'
        });
      } );
  </script>
   
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/">INSEE_LogEX<span class="logo_colour">BOT Portal</span></a></h1>
          <h2>Simpler. Faster. Better. Logistics Excellent BOT Portal Website.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="/">Home</a></li>
          <li><a href="/bot/">Run BOT</a></li>
          <li><a href="/sql/">SQL Page</a></li>
          <li class="selected"><a href="/another/">BOT & Parameter</a></li>
          <li><a href="/contact/">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div class="sidebar">
        <!-- insert your sidebar items here -->
        <h3>Latest News</h3>
        <h4>New Website Launched</h4>
        <h5>January 1st, 2010</h5>
        <p>2010 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
        <p></p>

        <h4>Browser Compatibility for Running BOT</h4>
        <p>This template has been tested in the following browsers:</p>
          <li>Google Chrome 6</li>
          <li>Microsoft Edge</li>
          <li>Internet Explorer 7</li>
          <li>FireFox 3.5</li>
          <li>Safari 4</li>
        
        <h3>Search</h3>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="{% static 'search.png' %}" alt="Search" title="Search" />
          </p>
        </form>
      </div>
      <div id="content">
        <!-- insert the page content here -->
        
        <div id="loading">
        <img id="loading-image" src="{% static 'waiting3.gif' %}" alt="Loading..." />
        </div>
        
        <span class="Center"><img src="{% static 'waiting3.gif' %}" style="display: none;" id="test" /></span>


<div id="loading">
  <img id="loading-image" src="path/to/ajax-loader.gif" style="display: none;" alt="Loading..." />
</div>
       
<script>
  $(window).on('load', function () {
   
    $('#loading').hide();
  }) 
</script>

        <h1>SQL Execution with Parameter</h1>
        <p>Below is SQL Template with Parameter</p>
        <form action="" method="post">
        <div class="form_settings">
          
        <script>
            $(function(){
                    $('#Bot_with_Parameter').change(function(){
                        $('input[type=text]').val('');
                        
                    if($(this).val()=="Use_Below_SQL") {
                        $('#datepicker1').attr('disabled', true);
                        $('#datepicker2').attr('disabled', true);
                        $('#shipment').attr('disabled', true);     
                        $('#cpdo').attr('disabled', true);
                        $('#dono').attr('disabled', true);
                         
                    } else if($(this).val()=="Shipment_MissingDO") {
                        $('#datepicker1').attr('disabled', false);     
                        $('#datepicker2').attr('disabled', false);
                        $('#shipment').attr('disabled', true);     
                        $('#cpdo').attr('disabled', true);
                        $('#dono').attr('disabled', false); 
                    } else if($(this).val()=="Shipment_cost_by_do") {
                        $('#datepicker1').attr('disabled', false);     
                        $('#datepicker2').attr('disabled', false);
                        $('#shipment').attr('disabled', false);     
                        $('#cpdo').attr('disabled', false);
                        $('#dono').attr('disabled', true);
                    } else if($(this).val()=="DW_Shipment_Report_freight")  { 
                        $('#datepicker1').attr('disabled', false);     
                        $('#datepicker2').attr('disabled', false);
                        $('#shipment').attr('disabled', false);     
                        $('#cpdo').attr('disabled', false);
                        $('#dono').attr('disabled', true);
                    }                 


                  });
                });
            </script>

            <p><h4>1.Select SQL of BOT</h4></p>
            <p><span>SQL Template</span>
            <select id="Bot_with_Parameter" name="name">
            <option value="Use_Below_SQL">Use_Below_SQL</option>
            <option value="Shipment_MissingDO">Shipment_MissingDO_users</option>
            <option value="Shipment_cost_by_do">Shipment_cost_by_do_users</option>
            <option value="DW_Shipment_Report_freight">DW_Shipment_Report_freight_users</option>
            
            </select></p>
                       
            <p><h4>2.Add Parameter</h4></p>
            <p><span>Date From</span><input class="contact" type="text" id="datepicker1" name="date_from" value="" disabled=true /></p>
            <p><span>Date To</span><input class="contact" type="text" id="datepicker2" name="date_to" value="" disabled=true /></p>
            <p><span>Shipment No.(separate by ,)</span><input class="contact" type="text" id="shipment" name="shipment_no" value="" disabled=true /></p>
            <p><span>CPDO No.(separate by ,)</span><input class="contact" type="text" id="cpdo" name="cpdo_no" value="" disabled=true /></p>
 
            <p><h4>3.Run BOT with Parameter</h4></p>
            {% csrf_token %}          
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="ANOTHER" id="bot_param" value="submit" onclick="return GetSelectedText('Bot_with_Parameter')" /></p>
            </div>
            
            
<div id="main">
    <div id="demos" class="tabContent">
        <table id="demoTable">
        <tr><td><button id="demo2">Run</button>
</td></tr>
            

            {% if some_flag %}
                <script>
                    alert("Finished : Run BOT with Parameter " + '{{ script_name }}'  + " has been finished already.");
                </script>    
            {% endif %}

        </form>
        <p><br /><br />NOTE: The Parameter box will be eanable or disable by selected SQL in dropdown list box.</p>
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      Copyright &copy; Siam City Cement. All Rights Reserved 2021 | <a href="https://www.siamcitycement.com/th/our_services/logistics/">INSEE Logistics</a> 
    </div>
  </div>
</body>
</html>
